$dark-blue: #2c4762;

//Font Sizes
$base-font-size: 16px;


// Font weights
$light: 100;
$regular: 400;
$bold: 700;

// Colors
$white: #fff;
$dark-grey: #444;
$touchy-blue: #529ecc;
$touchy-green: #61B68C;
$semi-transparent: rgba(255,255,255,0.3);
$red: #e74c3c;
$green: #27ae60;

$font: normal 14px/1.4 "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
$courier: courier;
$georgia: georgia,serif;